{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-space-before-closing": [
      "error",
      "never"
    ],
    "react/jsx-tag-spacing": [
      0,
      0,
      0
    ],
    "no-undef": 0,
    "react/prop-types": [
      0
    ]
  }
}